*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.kotlin/
/common/android/build/
/common/kotlin/build/
/core/analytics/build/
/core/database/build/
/core/network/build/
/core/ui/build/
/data/news/build/
/domain/news/build/
/feature/news/build/
